body{
  background-image: url("../images/dice.jpg");
  background-size: cover;
  margin: auto;
}
.border{
  background-color: turquoise;

}
.game{
  display: none;
}
body{
  background-color: grey;
}
